<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://githubmonitorapp20220323160218.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/59d86356-bea0-424f-8624-d2e02a068469/resourcegroups/AzureFunctionsDemo/providers/Microsoft.Web/sites/GithubMonitorApp20220323160218</ResourceId>
    <UserName>$GithubMonitorApp20220323160218</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://githubmonitorapp20220323160218.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>